<div>
  <p>
    <a href="/all_products">View All Products</a>
  </p>
  <p>
    <a href="/add_new_prodoct">Add New Product</a>
  </p>
  <p>
    <a href="/edit_product">Edit Product Information</a>
  </p>
  <p>
    <a href="/delete_product">Delete a product</a>
  </p>
</div>
