<div>
  <a href="/all_products">View All Products</a>
  <a href="/add_new_prodoct">Add New Product</a>
  <a href="/edit_product">Edit Product Information</a>
  <a href="/delete_product">Delete a product</a>
</div>
