<!doctype html>
<html>
<head>
  <title>Products</title>
  <link rel="stylesheet" href="global.css">
  <script type="text/javascript" src="global.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
